<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dogs.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @dogs.age %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @dogs.gender %>
</p>

<p>
  <strong>castrated ?:</strong>
  <%= @dogs.castrated %>
</p>

<p>
  <strong>friendly ?:</strong>
  <%= @dogs.friendly %>
</p>

<p>
  <strong>Alergic ?:</strong>
  <%= @dogs.alergic %>
</p>

<p>
  <strong>Trained:</strong>
  <%= @dogs.trained %>
</p>

<p>
  <strong>Description:</strong>
  <%= @dogs.description %>
</p>

<%= link_to 'Edit', edit_dog_path(@dog) %> |
<%= link_to 'Back', dogs_path %>
