
  <main class="main-content border-radius-lg ">
    <div class="container-fluid py-4">

    <div class="row">
      <div class="col-lg-12 position-relative z-index-2">
        <div class="card card-plain mb-4">
          <div class="card-body p-3">
            <div class="row">
              <div class="col-lg-6">
                <div class="d-flex flex-column h-100">
                  <h2 class="font-weight-bolder mb-0">General Statistics</h2>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-4 d-flex">
          <div class="col-12 ">
            <div class="card mb-4 d-flex">
              <div class="col-lg-6 d-flex">
                <div class="container">
                  <div class="col">
                    <div class="e-tabs mb-3 px-3">
                      <ul class="nav">
                        <li class="nav-item"><a class="nav-link active" href="#">Users</a></li>
                      </ul>
                    </div>
                    <div class="row flex-lg-nowrap">
                      <div class="col mb-3">
                        <div class="e-panel card">
                          <div class="card-body">
                            <div class="e-table">
                              <div class="table-responsive table-lg mt-3">
                                <table class="table table-bordered">
                                  <tbody>
                                    <% @users.each do |user| %>
                                      <tr onclick="window.location.href='<%=user_path(user.id)%>'">
                                        <td class="align-middle">
                                          <p><%= user.id %></p>
                                        </td>
                                        <td class="align-middle text-center">
                                          <div class="bg-light d-inline-flex justify-content-center align-items-center align-top" style="width: 35px; height: 35px; border-radius: 3px;"><i class="fa fa-fw fa-photo" style="opacity: 0.8;"></i></div>
                                        </td>
                                        <td class="text-nowrap align-middle"><%= user.first_name %>&nbsp<%= user.last_name %></td>
                                        <td class="text-nowrap align-middle"><span>09 Dec 2017</span></td>
                                        <td class="text-center align-middle"><i class="fa fa-fw text-secondary cursor-pointer fa-toggle-on"></i></td>
                                        <td class="text-center align-middle">
                                          <div class="btn-group align-top">
                                              <button class="btn btn-sm btn-outline-secondary badge" type="button" data-toggle="modal" data-target="#user-form-modal">Edit</button>
                                              <button class="btn btn-sm btn-outline-secondary badge" type="button"><i class="fa fa-trash"></i></button>
                                          </div>
                                        </td>
                                      </tr>
                                    <% end %>
                                  </tbody>
                                </table>
                              </div>
                              <!---
                              <div class="d-flex justify-content-center">
                                <ul class="pagination mt-3 mb-0">
                                  <li class="disabled page-item"><a href="#" class="page-link">‹</a></li>
                                  <li class="active page-item"><a href="#" class="page-link">1</a></li>
                                  <li class="page-item"><a href="#" class="page-link">2</a></li>
                                  <li class="page-item"><a href="#" class="page-link">3</a></li>
                                  <li class="page-item"><a href="#" class="page-link">4</a></li>
                                  <li class="page-item"><a href="#" class="page-link">5</a></li>
                                  <li class="page-item"><a href="#" class="page-link">›</a></li>
                                  <li class="page-item"><a href="#" class="page-link">»</a></li>
                                </ul>
                              </div>
                              -->
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-lg-3 mb-3">
                        <div class="card">
                          <div class="card-body">
                            <div class="e-navlist e-navlist--active-bold">
                              <ul class="nav">
                                <li class="nav-item active"><h5>Total of users : <%= User.count%></h5></li>
                              </ul>
                            </div>
                            <hr class="my-3">
                            <div>
                              <div class="form-group">
                                <label>Search by Name:</label>
                                <%= form_tag( admin_path, :method=> :get ) do %>
                                  <div
                                    class="">
                                    <%= search_field_tag :search, params[:search], placeholder: "First Name", class: "form-control w-100"%>
                                      <div class="">
                                        <%= button_tag "Search" ,:name => nil%>
                                      </div>
                                  </div>
                                <% end %>
                              </div>
                            </div>
                            <hr class="my-3">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-4 d-flex">
          <div class="col-12 ">
            <div class="card mb-4 d-flex">
              <div class="">
                <div class="icon icon-shape icon-lg bg-gradient-success shadow text-center border-radius-xl mt-n3 ms-4">
                  <i class="material-icons opacity-10" aria-hidden="true">Events</i>
                </div>
              </div>
              <div class="container col-lg-12 mt-3 p-3" style="overflow: scroll;">
              
                <div class="row col-lg-12" style="height: 345px;">
                  <% Event.all.each do |event| %>
                    <div class="col-sm-3 mb-3">
                      <div class="card" style="width: 100%;">
                        <div class="card-body">
                          <h5 class="card-title"><%= event.title %></h5>
                          <p class="card-text"><%= event.body %></p>
                          <h5>Start: <%= event.start_date %></h5>
                          <h5>Ends: <%= event.start_date %></h5>
                          <h5>Price: <%= event.price %></h5>
                          <h4>Creator: <%= event.user_id %></h4>
                          <% if user_signed_in? %>
                            <a href="#" class="btn btn-primary"><%= link_to 'show', event %></a>
                            <a href="#" class="btn btn-primary"><%= link_to 'Edit', edit_event_path(event) %></a>
                            <a href="#" class="btn btn-primary"><%= link_to 'Destroy', method: :destroy, data: { confirm: 'Are you sure?' } %></a>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
  

              
            </div>
          </div>
        </div>






        <div class="row">
          <div class="col-lg-12 col-sm-5 d-flex">

            <div class="card col-lg-6  mb-2">
              <div class="card-header p-3 pt-2">
                <div class="icon icon-lg icon-shape bg-gradient-dark shadow-dark shadow text-center border-radius-xl mt-n4 position-absolute">
                  <i class="material-icons opacity-10">weekend</i>
                </div>
                <div class="text-end pt-1">
                  <p class="text-sm mb-0 text-capitalize">Bookings</p>
                  <h4 class="mb-0">281</h4>
                </div>
              </div>
              <hr class="dark horizontal my-0">
              <div class="card-footer p-3">
                <p class="mb-0"><span class="text-success text-sm font-weight-bolder">+55% </span>than last week</p>
              </div>
            </div>

            <div class="card  col-lg-6 mb-2">
              <div class="card-header p-3 pt-2">
                <div class="icon icon-lg icon-shape bg-gradient-primary shadow-primary shadow text-center border-radius-xl mt-n4 position-absolute">
                  <i class="material-icons opacity-10">leaderboard</i>
                </div>
                <div class="text-end pt-1">
                  <p class="text-sm mb-0 text-capitalize">Today's Users</p>
                  <h4 class="mb-0">2,300</h4>
                </div>
              </div>
              <hr class="dark horizontal my-0">
              <div class="card-footer p-3">
                <p class="mb-0"><span class="text-success text-sm font-weight-bolder">+3% </span>than last month</p>
              </div>
            </div>

          </div>


          
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-lg-5 mb-lg-0 mb-4">
        <div class="card z-index-2 mt-4">
      <div class="card-body mt-n5 px-3">

      <div class="bg-gradient-dark shadow-dark border-radius-lg py-3 pe-1 mb-3">
        <div class="chart">
          <canvas id="chart-bars" class="chart-canvas" height="170"></canvas>
        </div>
      </div>

      <h6 class="ms-2 mt-4 mb-0"> Active Users </h6>
      <p class="text-sm ms-2"> (<span class="font-weight-bolder">+11%</span>) than last week </p>

      <div class="container border-radius-lg">
        <div class="row">
          <div class="col-3 py-3 ps-0">
            <div class="d-flex mb-2">
              <div class="icon icon-shape icon-xxs shadow border-radius-sm bg-gradient-primary text-center me-2 d-flex align-items-center justify-content-center">
                <i class="material-icons opacity-10">groups</i>
              </div>
              <p class="text-xs my-auto font-weight-bold">Users</p>
            </div>
            <h4 class="font-weight-bolder">42K</h4>
            <div class="progress w-75">
              <div class="progress-bar bg-dark w-60" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="col-3 py-3 ps-0">
            <div class="d-flex mb-2">
              <div class="icon icon-shape icon-xxs shadow border-radius-sm bg-gradient-info text-center me-2 d-flex align-items-center justify-content-center">
                <i class="material-icons opacity-10">ads_click</i>
              </div>
              <p class="text-xs mt-1 mb-0 font-weight-bold">Clicks</p>
            </div>
            <h4 class="font-weight-bolder">1.7m</h4>
            <div class="progress w-75">
              <div class="progress-bar bg-dark w-90" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="col-3 py-3 ps-0">
            <div class="d-flex mb-2">
              <div class="icon icon-shape icon-xxs shadow border-radius-sm bg-gradient-warning text-center me-2 d-flex align-items-center justify-content-center">
                <i class="material-icons opacity-10">receipt</i>
              </div>
              <p class="text-xs mt-1 mb-0 font-weight-bold">Sales</p>
            </div>
            <h4 class="font-weight-bolder">399$</h4>
            <div class="progress w-75">
              <div class="progress-bar bg-dark w-30" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="col-3 py-3 ps-0">
            <div class="d-flex mb-2">
              <div class="icon icon-shape icon-xxs shadow border-radius-sm bg-gradient-danger text-center me-2 d-flex align-items-center justify-content-center">
                <i class="material-icons opacity-10">category</i>
              </div>
              <p class="text-xs mt-1 mb-0 font-weight-bold">Items</p>
            </div>
            <h4 class="font-weight-bolder">74</h4>
            <div class="progress w-75">
              <div class="progress-bar bg-dark w-50" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</main>




































