<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container-fluid bootstrap snippets bootdey">
<div class="row">
    <!-- BEGIN USER PROFILE -->
    <div class="col-md-12">
      <div class="grid profile">
        <div class="control-div-card">
            <div class="card mt-2 mb-3" style="width: 18rem;">
                <% if @user.avatar.attached? %>
                    <%= image_tag @user.avatar, class:"card-img-top" %>
                <% end %>
            </div>
        </div>
        <div class="grid-body">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#profile" data-toggle="tab">Profile</a></li>
                <li class=""><a href="#timeline" data-toggle="tab">My dogs</a></li>
                <li class=""><a href="#photos" data-toggle="tab">Photos</a></li>
                <li class=""><a href="#my-events" data-toggle="tab">My Events</a></li>
                <li class=""><a href="#events-sub" data-toggle="tab">Events Sub</a></li>
                <li class="">            
                    <% if @user.admin? %>
                        <%=link_to 'Admin Page', admin_path %>
                    <% end %>
                </li>
            </ul>
          <div class="tab-content">
            <!-- BEGIN PROFILE -->
            <div class="tab-pane active pt-3" id="profile">
              <div class="row">
                <div class="col-md-6">
                 <p><strong>Name:</strong><%= @user.first_name%>&nbsp<%= @user.last_name%></p>
                  <p><strong>Email: </strong><%= @user.email%></p>
                  <p><strong>Website:</strong> <a href="jwilliams.com">bootdey.com</a></p>
                  <p><strong>About: </strong><%= @user.role%></p>
                </div>
                <div class="col-md-6">
                  <p><strong>Address: </strong><%= @user.address%></p>
                  <p><strong>Phone: </strong><%= @user.phone_number%></p>
                </div>
                <p class="lead"><%= link_to "edit my information", edit_user_url(@user.id)%></p>
                
              </div>
            </div>
            <!-- END PROFILE -->
            <!-- BEGIN TIMELINE -->
            <div class="tab-pane mt-2" id="timeline">
                <div class="d-flex">
                    <p class="lead mx-2">My Dogs</p>
                    <p class="lead"><%= link_to "Add new dog", new_dog_path%></p>
                </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="container bootstrap snippets bootdey">
                        <% @dogs.each do |dog| %>
                            <div class="profile card">
                                <div class="profile-body">
                                    <div class="profile-bio">
                                        <div class="row">
                                            <div class="col-md-5 text-center">
                                                <% if dog.avatar.attached? %>
                                                    <%= image_tag dog.avatar, width: "70%", class:"img-thumbnail md-margin-bottom-10" %>
                                                <% end %>
                                            </div>
                                            <div class="col-md-7 text-center dog-infos">
                                                <h2>Name : <%= dog.name%></h2>
                                                <span><strong>Gender:</strong> <%= format_gender(dog) %></span>
                                                <span><strong>Cantre:</strong><%= dog.castrated %></span>
                                                <span><strong>Friendly:</strong><%= dog.friendly %></span>
                                                <span><strong>Alergic:</strong><%= dog.alergic %></span>
                                                <span><strong>Trained:</strong><%= dog.trained %></span>
                                                <% if dog.user_id === current_user.id%>
                                                    <div class="col-sm-12 btn-edit-dog">
                                                        <%=link_to 'Edit profile', edit_dog_path(dog.id) %>
                                                    </div>
                                                <% end %>
                                                <hr>
                                                <p><%= dog.description %></p>
                                            </div>
                                        </div>    
                                    </div>
                                </div>
                            </div>
                        <% end %>
                    </div>      
                </div>
              </div>
            </div>
            <!-- END TIMELINE -->
            <!-- BEGIN PHOTOS -->
            <div class="tab-pane" id="photos">
              <p class="lead mt-2">My Photos</p>
              <div class="row">
                    <div class="col-md-12">
                        <div class="popup-gallery">
                            <a href="https://via.placeholder.com/128x100/" title="Photo 1"><img src="https://via.placeholder.com/128x100/" alt=""></a>
                            <a href="https://via.placeholder.com/128x100/" title="Photo 2"><img src="https://via.placeholder.com/128x100/" alt=""></a>
                            <a href="https://via.placeholder.com/128x100/" title="Photo 3"><img src="https://via.placeholder.com/128x100/" alt=""></a>
                            <a href="https://via.placeholder.com/128x100/" title="Photo 4"><img src="https://via.placeholder.com/128x100/" alt=""></a>
                            <a href="https://via.placeholder.com/128x100/" title="Photo 5"><img src="https://via.placeholder.com/128x100/" alt=""></a>
                            <a href="https://via.placeholder.com/128x100/" title="Photo 6"><img src="https://via.placeholder.com/128x100/" alt=""></a>
                            <a href="https://via.placeholder.com/128x100/" title="Photo 7"><img src="https://via.placeholder.com/128x100/" alt=""></a>
                            <a href="https://via.placeholder.com/128x100/" title="Photo 8"><img src="https://via.placeholder.com/128x100/" alt=""></a>
                            <a href="https://via.placeholder.com/128x100/" title="Photo 1"><img src="https://via.placeholder.com/128x100/" alt=""></a>
                            <a href="https://via.placeholder.com/128x100/" title="Photo 1"><img src="https://via.placeholder.com/128x100/" alt=""></a>
                            <a href="https://via.placeholder.com/128x100/" title="Photo 3"><img src="https://via.placeholder.com/128x100/" alt=""></a>
                            <a href="https://via.placeholder.com/128x100/" title="Photo 4"><img src="https://via.placeholder.com/128x100/" alt=""></a>
                            <a href="https://via.placeholder.com/128x100/" title="Photo 5"><img src="https://via.placeholder.com/128x100/" alt=""></a><a href="https://via.placeholder.com/128x100/" title="Photo 1"><img src="https://via.placeholder.com/128x100/" alt=""></a>
                        </div>
                        <br>
                    </div>
              </div>
            </div>

            <!-- END PHOTOS -->
            <!-- BEGIN SETTINGS -->

            <div class="tab-pane" id="my-events">
                <section class="pt-5 pb-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-6">
                                <h3 class="mb-3">My Events </h3>
                            </div>
                            <div class="col-6 text-right">
                                <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                                    <i class="fa fa-arrow-left"></i>
                                </a>
                                <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
                                    <i class="fa fa-arrow-right"></i>
                                </a>
                            </div>
                            <div class="col-12">
                                <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <div class="row">
                                                <% @events.each do |event| %>
                                                    <div class="col-md-4 mb-3">
                                                        <div class="card">
                                                            <% if event.avatar.attached? %>
                                                                <%= image_tag event.avatar, width: "100%" %>
                                                            <% else %>
                                                                <img class="card-img-top" src="https://www.intermountainpet.com/hubfs/Blog_Images/Dog-watching-car-drive-awayFB.jpg" alt="Card image cap">
                                                            <% end %>
                                                            <div class="card-body">
                                                            <h5 class="card-title"><%= event.title %></h5>
                                                                <p class="card-text"><%= event.body %></p>
                                                                <h5>Start: <%= event.start_date %></h5>
                                                                <h5>Ends: <%= event.start_date %></h5>
                                                                <h5>Price: <%= event.price %></h5>
                                                                <h4>Creator: <%= event.user_id %></h4>
                                                                <a href="#" class="btn btn-primary"><%= link_to 'show', event %></a>
                                                                <a href="#" class="btn btn-primary"><%= link_to 'Edit', edit_event_path(event) %></a>
                                                                <%= button_to "DELETE EVENT", event_path(:id => event.id), :method => :delete, class:"unsubscribe-button w-100" %>
                                                            </div>

                                                        </div>
                                                    </div>
                                                <% end %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <!--EVENTS SUBSCRIBED-->

            <div class="tab-pane" id="events-sub">   
                <section class="pt-5 pb-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-6">
                                <h3 class="mb-3">Events Subscribed </h3>
                            </div>
                            <div class="col-6 text-right">
                                <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                                    <i class="fa fa-arrow-left"></i>
                                </a>
                                <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
                                    <i class="fa fa-arrow-right"></i>
                                </a>
                            </div>
                            <div class="col-12">
                                <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <div class="row">
                                                <% @subscribed_events.each do |event| %>
                                                    <div class="col-md-4 mb-3">
                                                        <div class="card">
                                                            <% if event.avatar.attached? %>
                                                                <%= image_tag event.avatar, width: "100%" %>
                                                            <% else %>
                                                                <img class="card-img-top" src="https://www.intermountainpet.com/hubfs/Blog_Images/Dog-watching-car-drive-awayFB.jpg" alt="Card image cap">
                                                            <% end %>
                                                            <div class="card-body">
                                                            <h5 class="card-title"><%= event.title %></h5>
                                                                <p class="card-text"><%= event.body %></p>
                                                                <h5>Start: <%= event.start_date %></h5>
                                                                <h5>Ends: <%= event.start_date %></h5>
                                                                <h5>Price: <%= event.price %></h5>
                                                                <h4>Creator: <%= event.user_id %></h4>
                                                                <a href="#" class="btn btn-primary"><%= link_to 'show', event %></a>
                                                                <a href="#" class="btn btn-primary"><%= link_to 'Edit', edit_event_path(event) %></a>
                                                                <%= button_to "DELETE EVENT", event_path(:id => event.id), :method => :delete, class:"unsubscribe-button w-100" %>
                                                            </div>

                                                        </div>
                                                    </div>
                                                <% end %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <!--EVENTS SUBSCRIBED-->

            <div class="tab-pane" id="settings">
              <p class="lead">My Settings</p>
              <hr>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-horizontal">
                    <div class="form-group">
                      <label class="col-sm-4 control-label">Global Notifications</label>
                      <div class="col-sm-2">
                        <input type="checkbox" />
                      </div>
                      <label class="col-sm-2 control-label">Email Notifications</label>
                      <div class="col-sm-2">
                        <input type="checkbox" />
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-4 control-label">Phone Notifications</label>
                      <div class="col-sm-2">
                        <input type="checkbox" />
                      </div>
                      <label class="col-sm-2 control-label">Mail Notifications</label>
                      <div class="col-sm-2">
                        <input type="checkbox" />
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-4 control-label">Subscribe Newsletters</label>
                      <div class="col-sm-2">
                        <input type="checkbox" />
                      </div>
                      <label class="col-sm-2 control-label">RSS Feeds</label>
                      <div class="col-sm-2">
                        <input type="checkbox" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- END SETTINGS -->
          </div>
        </div>
      </div>
    </div>
    <!-- END USER PROFILE -->
  </div>
</div>