<div class="container-fluid">
    <div class="main-body">
    
          <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="index.html"><%=link_to 'Home', root_path %></a></li>
              <li class="breadcrumb-item active" aria-current="page">User Profile</li>
            </ol>
          </nav>
    
          <div class="row gutters-sm">
                <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                    <div class="d-flex flex-column align-items-center text-center">
                        <% if @user.avatar.attached? %>
                            <%= image_tag @user.avatar, width: "100%" %>
                        <% end %>
                        <div class="mt-3">
                        <h4><%= @user.first_name%></h4>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="card mt-3">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0">Full Name</h6>
                            <%= @user.first_name%>&nbsp<%= @user.last_name%>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0">Email</h6>
                                <%= @user.email%>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0">Phone</h6>
                                <%= @user.phone_number%>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0">Address</h6>
                                <%= @user.address%>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0">User :</h6>
                            <%= @user.role%>
                        </li>
                    </ul>
                </div>
                
                <%=link_to 'Edit my informations', edit_user_path %>

                <%=link_to 'Change Password', edit_user_registration_path %>
                <% if @user.admin? %>
                    <%=link_to 'Admin Page', admin_path %>
                <% end %>
            </div>
            <div class="col-md-8">
                <div class="card mb-3" style="height: 51%;">
                    <% @dogs.each do |dog| %>
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-3 border">
                                <% if @user.avatar.attached? %>
                                        <%= image_tag dog.avatar, width: "70%" %>
                                <% end %>
                                </div>
                                <div class="col-sm border">
                                    <ul class="list-group">
                                    <div class="d-flex">
                                        <li class="list-group-item col-sm-2"><%= dog.name%></li>
                                        <li class="list-group-item col-sm-2"><%= dog.age%></li>
                                        <li class="list-group-item col-sm-2">Castre ?</li>
                                    </div>
                                    <li class="list-group-item"><%= dog.description%></li>
                                    </ul>
                                </div>
                                <div class="col-sm-2 btn-edit-dog">
                                    <%=link_to 'Edit profile', edit_dog_path(dog.id) %>
                                </div>
                            </div>
                            
                        </div>
                    <% end %>
                    <%= link_to "Add new dog", new_dog_path%>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="row gutters-sm">
                    <div class="col-sm-6 p-1">
                        <h3 class="text-center">My events</h3>
                        <hr>
                        <%= link_to 'New Event', new_event_path %>
                    </div>
                    <div class="col-sm-6 p-1">
                        <h3 class="text-center">Events that i subscribe</h3>
                        <hr>
                    </div>
                </div>
            </div>



            <div class="container-fluid mx-auto  d-flex p-0 ">
                <div class="row col-md-6 m-0 p-0 my-events p-0">
                        <% @events.each do |event| %>
                            <div class="col-md-4 p-1">

                                <div class="card" style="width: 18rem;">
                                    <% if event.avatar.attached? %>
                                        <%= image_tag event.avatar, width: "100%" %>
                                    <% else %>
                                        <img class="card-img-top" src="https://www.intermountainpet.com/hubfs/Blog_Images/Dog-watching-car-drive-awayFB.jpg" alt="Card image cap">
                                    <% end %>
                                    <div class="card-body">
                                        <h5 class="card-title"><%= event.title %></h5>
                                        <p class="card-text"><%= event.body %></p>
                                        <h5>Start: <%= event.start_date %></h5>
                                        <h5>Ends: <%= event.start_date %></h5>
                                        <h5>Price: <%= event.price %></h5>
                                        <h4>Creator: <%= event.user_id %></h4>
                                        <a href="#" class="btn btn-primary"><%= link_to 'show', event %></a>
                                        <a href="#" class="btn btn-primary"><%= link_to 'Edit', edit_event_path(event) %></a>
                                        <%= button_to "DELETE EVENT", event_path(:id => event.id), :method => :delete, class:"unsubscribe-button w-100" %>

                                    </div>
                                </div>  
                            </div>

                        <% end %>
                </div>
                <hr/>
                <div class="row col-md-6 m-0 p-0 my-events-subscribe">
                    <% @events.each do |event| %>
                        <div class="col-md-4 ">
                            <div class="card" style="width: 18rem;">
                                <% if event.avatar.attached? %>
                                    <%= image_tag event.avatar, width: "100%" %>
                                <% else %>
                                    <img class="card-img-top" src="https://www.intermountainpet.com/hubfs/Blog_Images/Dog-watching-car-drive-awayFB.jpg" alt="Card image cap">
                                <% end %>
                                <div class="card-body">
                                    <h5 class="card-title"><%= event.title %></h5>
                                    <p class="card-text"><%= event.body %></p>
                                    <h5>Start: <%= event.start_date %></h5>
                                    <h5>Ends: <%= event.start_date %></h5>
                                    <h5>Price: <%= event.price %></h5>
                                    <h4>Creator: <%= event.user_id %></h4>
                                    <a href="#" class="btn btn-primary"><%= link_to 'show', event %></a>
                                    <a href="#" class="btn btn-primary"><%= link_to 'Edit', edit_event_path(event) %></a>
                                    <%= button_to "DELETE EVENT", event_path(:id => event.id), :method => :delete, class:"unsubscribe-button w-100" %>

                                </div>
                            </div>     
                        </div>
                    <% end %>
                </div>
                <hr/>
            </div>
        </div>
    </div>
</div>























