
<div class="container-fluid">
    <div class="row bg-secondary py-2 px-lg-5">
        <div class="col-lg-6 text-center text-lg-left mb-2 mb-lg-0">
        </div>
        <div class="col-lg-6 text-center text-lg-right">
            <div class="d-inline-flex align-items-center">
                <a class="text-white px-3" href="">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a class="text-white px-3" href="">
                    <i class="fab fa-twitter"></i>
                </a>
                <a class="text-white px-3" href="">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                <a class="text-white px-3" href="">
                    <i class="fab fa-instagram"></i>
                </a>
                <a class="text-white pl-3" href="">
                    <i class="fab fa-youtube"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="row py-3 px-lg-5">
        <div class="col-lg-4">
            <h1 class="m-0 display-5 text-capitalize"><span class="text-primary">Dog</span>Hero</h1>
        </div>
        <div class="col-lg-8 text-center text-lg-right">
            <div class="d-inline-flex align-items-center">
                <div class="d-inline-flex flex-column text-center px-3 border-right">
                    <h6>Email Us</h6>
                    <p class="m-0">info@example.com</p>
                </div>
                <div class="d-inline-flex flex-column text-center pl-3">
                    <h6>Call Us</h6>
                    <p class="m-0">+012 345 6789</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Topbar End -->



<!-- Navbar Start -->
<div class="container-fluid p-0">
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 py-lg-0 px-lg-5">
        <a href="" class="navbar-brand d-block d-lg-none">
            <h1 class="m-0 display-5 text-capitalize font-italic text-white"><span class="text-primary">Safety</span>First</h1>
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between px-3" id="navbarCollapse">
            <% if user_signed_in? %>
              <div class="navbar-nav mr-auto py-0">
                <%= button_to "Home", root_path, :method => :get, :form_class => "nav-item nav-link" %>
                <%= button_to "Events", events_path, :method => :get, :form_class => "nav-item nav-link" %>
                <%= button_to "Profile", user_path(current_user), :method => :get, :form_class => "nav-item nav-link" %>
                <%= button_to "Sign Out", destroy_user_session_path, :method => :get, :form_class => "nav-item nav-link" %>
              </div>
            <% else %>
              <%= button_to "Home", root_path, :method => :get, :form_class => "nav-item nav-link" %>
              <%= button_to "Events", events_path, :method => :get, :form_class => "nav-item nav-link" %>
              <%= button_to "Login",new_user_session_path,:method => :get, :form_class => "nav-item nav-link" %>
              <%= button_to "Register", new_user_registration_path, :method => :get, :form_class => "btn btn-lg btn-primary px-3 d-none d-lg-block" %>
            <% end %>
        </div>
    </nav>
</div>