


<!-- Navbar Start -->
<div class="container-fluid p-0">
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 py-lg-0 px-lg-5">
        <a href="" class="navbar-brand d-block d-lg-none">
            <h1 class="m-0 display-5 text-capitalize font-italic text-white"><span class="text-primary">Dog</span>Hero</h1>
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between px-3" id="navbarCollapse">
            <% if user_signed_in? %>
              <div class="navbar-nav mr-auto py-0">
                <h1 class="mb-3 mt-3 display-5 text-capitalize text-white logo_doghero"><span class="text-primary">Dog</span>Hero</h1>
                <%= button_to "Home", root_path, :method => :get, :form_class => "nav-item nav-link" %>
                <%= button_to "Events", events_path, :method => :get, :form_class => "nav-item nav-link" %>
                <%= button_to "Profile", user_path(current_user), :method => :get, :form_class => "nav-item nav-link" %>
                <%= button_to "Sign Out", destroy_user_session_path, :method => :get, :form_class => "nav-item nav-link" %>
              </div>
            <% else %>
              <%= button_to "Home", root_path, :method => :get, :form_class => "nav-item nav-link" %>
              <%= button_to "Events", events_path, :method => :get, :form_class => "nav-item nav-link" %>
              <%= button_to "Login",new_user_session_path,:method => :get, :form_class => "nav-item nav-link" %>
              <%= button_to "Register", new_user_registration_path, :method => :get, :form_class => "btn btn-lg btn-primary px-3 d-none d-lg-block" %>
            <% end %>
        </div>
    </nav>
</div>