<div class="container-fluid p-0 fixed-top">
  <nav class="navbar navbar-expand-lg py-3 py-lg-0 px-lg-5">
    <a href="" class="navbar-brand d-block">
      <h1 class="m-0 display-5 text-capitalize font-italic text-white", href="root_path"><span class="text-success">TD</span>C</h1>
    </a>
    <button type="button" class="navbar-toggler text-center" data-toggle="collapse" data-target="#navbarCollapse">
      Menu<br/>
    </button>
    <div class="collapse navbar-collapse justify-content-between px-3" id="navbarCollapse">
      <% if user_signed_in? %>
        <div class="navbar-nav mr-auto py-0">
          <%= button_to "Accueil", root_path, :method => :get, :form_class => "nav-item nav-link" %>
          <%= button_to "À propos", about_index_path, :method => :get, :form_class => "nav-item nav-link" %>
          <%= button_to "Évènements", events_path, :method => :get, :form_class => "nav-item nav-link" %>
          <%= button_to "Services", service_path, :method => :get, :form_class => "nav-item nav-link" %>
          <%= button_to "Produits", products_path, :method => :get, :form_class => "nav-item nav-link" %>
          <%= button_to "Profil", admin_user_path(current_user), :method => :get, :form_class => "nav-item nav-link" %>
          <%= button_to "Contact", contact_path, :method => :get, :form_class => "nav-item nav-link" %>
          <%= button_to "Se déconnecter", destroy_user_session_path, :method => :get, :form_class => "nav-item nav-link" %>
        </div>
      <% else %>
        <%= button_to "Accueil", root_path, :method => :get, :form_class => "nav-item nav-link" %>
        <%= button_to "À propos", about_index_path, :method => :get, :form_class => "nav-item nav-link" %>
        <%= button_to "Èvenements", events_path, :method => :get, :form_class => "nav-item nav-link" %>
        <%= button_to "Services", service_path, :method => :get, :form_class => "nav-item nav-link" %>
        <%= button_to "Produits", products_path, :method => :get, :form_class => "nav-item nav-link" %>
        <%= button_to "Contact", contact_path, :method => :get, :form_class => "nav-item nav-link" %>
        <%= button_to "Se connecter", new_user_session_path, :method => :get, :form_class => "nav-item nav-link" %>
        <%= button_to "S'inscrire", new_user_registration_path, :method => :get, :form_class => "nav-item nav-link" %>
      <% end %>
    </div>
  </nav>
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% end %>
</div>




