<div class="container-fluid pt-5">
  <div class="row">
    <div class="col-lg-2">
      <ul class="main-btn-new-event-page-events pt-3">
        <li class="new-event-btn-page-events"><%= link_to 'New Event', new_event_path %></li>
      </ul>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row d-flex justify-content-center">
    <% @events.each do |event| %>
      <div class="card">
        <% if event.avatar.attached? %>
          <%= image_tag event.avatar, class: "card-img-top" %>
        <% else %>
          <div class="card_image"><img src="https://picsum.photos/500/300/?image=10" alt="photo"></div>
        <% end %>
        <div class="card_content">
          <h3 class="text-center mt-0"><%= event.title %></h3>
          <h5>Start on : <%= event.start_date.strftime('%D') %>&nbspAt : <%= event.start_date.strftime('%T') %></h5>
          <h5>Ends on : <%= event.end_date.strftime('%D') %>&nbspAt : <%= event.start_date.strftime('%T') %></h5>
          <h5>Price: <%= event.price %></h5>
          <div class="col-lg-12 p-0">
            <div class="col-sm d-flex justify-content-end  align-items-end p-0">
              <% subscriber = current_user.subscribers.find_by(user_id: current_user.id, event_id: event.id) %>
              <% if event.user_id === current_user.id %>
                <%= link_to 'Voir', event, class: "btn-show" %>
                <%= link_to 'Modf', edit_event_path(event), class: "btn-edit" %>
                <%= button_to "Suppr", { :controller => :events, :action => 'destroy', :id => event.id }, :method => :delete, class: "btn-delete" %>
              <% else %>
                <% if subscriber.nil? %>
                  <form action="/subscribers" method="post">
                    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                    <input type="hidden" name="subscriber[event_id]" value="<%= event.id %>">
                    <input class="subscribe-button" type="submit" value="S'INSCRIRE">
                  </form>
                <% else %>
                  <form action="<%= subscriber_path(subscriber) %>" method="post">
                    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="subscriber[event_id]" value="<%= event.id %>">
                    <input class="unsubscribe-button" type="submit" value="DÉSABONNER">
                  </form>
                <% end %>
              <% end %>
              <div class="counter__item second__item">
                <div class="counter__item__text">
                  <i class="fa-solid fa-shield-dog fa-2x"></i>
                  <h2 class="counter_num "><%= event.subscribers.count %></h2>
                  <h6 class="counter_num ">INSCRITS</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>