<div class="container">
  <div class="col">
    <h1 class="nav-item text-center mb-4 mt-4">EVENT INFORMATIONS</h1>
    <div class="row flex-lg-nowrap">
        <div class="col-12 col-lg-3 mb-3">
          <div class="card">
            <div class="card-body">
              <div class="e-navlist e-navlist--active-bold">
                <div class="  my_event_user_profile mb-3">
                    <div class="card h-100" style="width: 18rem;">
                      <img class="card-img-top" src="https://weezevent.com/wp-content/uploads/2019/08/27143613/woof-run-evenement-canin-1000x640.jpg" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">event title</h5>
                        <p class="card-text">description</p>
                        <h5>Start: start date</h5>
                        <h5>Ends: end date</h5>
                        <h5>Price: price</h5>
                        <h4>Creator: Creator name</h4>
                      </div>
                    </div>
                </div>
              </div>
              <hr class="my-3">
            </div>
          </div>
        </div>
        <div class="col mb-3">
          <div class="e-panel card">
            <div class="card-body">
              <div class="e-table">
                <div class="table-responsive table-lg mt-3">
                  <table class="table table-bordered">
                    <tbody>
                      <% @users.each do |user| %>
                        <tr onclick="window.location.href='<%=user_path(user.id)%>'">
                          <td class="align-middle">
                            <p><%= user.id %></p>
                          </td>
                          <td class="align-middle text-center">
                            <div class="bg-light d-inline-flex justify-content-center align-items-center align-top" style="width: 35px; height: 35px; border-radius: 3px;"><i class="fa fa-fw fa-photo" style="opacity: 0.8;"></i></div>
                          </td>
                          <td class="text-nowrap align-middle"><%= user.first_name %>&nbsp<%= user.last_name %></td>
                          <td class="text-nowrap align-middle"><span>09 Dec 2017</span></td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
                <!---
                <div class="d-flex justify-content-center">
                  <ul class="pagination mt-3 mb-0">
                    <li class="disabled page-item"><a href="#" class="page-link">‹</a></li>
                    <li class="active page-item"><a href="#" class="page-link">1</a></li>
                    <li class="page-item"><a href="#" class="page-link">2</a></li>
                    <li class="page-item"><a href="#" class="page-link">3</a></li>
                    <li class="page-item"><a href="#" class="page-link">4</a></li>
                    <li class="page-item"><a href="#" class="page-link">5</a></li>
                    <li class="page-item"><a href="#" class="page-link">›</a></li>
                    <li class="page-item"><a href="#" class="page-link">»</a></li>
                  </ul>
                </div>
                -->
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-3 mb-3">
          <div class="card">
            <div class="card-body">
              <div class="e-navlist e-navlist--active-bold">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="counter__item second__item">
                        <div class="counter__item__text">
                            <i class="fa-solid fa-shield-dog fa-5x"></i>

                            <h2 class="counter_num "><%= @users.count%></h2>
                            <h6 class="counter_num ">Subscribers</h6>
                        </div>
                    </div>
                </div>
              </div>
              <hr class="my-3">
              <div>
                <div class="form-group">
                  <label>Search by Name:</label>
                  <%= form_tag( admin_path, :method=> :get ) do %>
                    <div
                      class="">
                      <%= search_field_tag :search, params[:search], placeholder: "First Name", class: "form-control w-100"%>
                        <div class="d-flex justify-content-end mt-1">
                          <%= button_tag "Search", class: "btn btn-success" ,:name => nil%>
                        </div>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>