<div class="container-fluid">
  <div class="col">
    <h1 class="nav-item text-center mb-4 mt-4">EVENT INFORMATIONS</h1>
    <div class="row flex-lg-nowrap">
      <div class="col-12 col-lg-6 mb-3">
        <div class="card">
          <div class="card-body">
            <div class="e-navlist e-navlist--active-bold">
              <div class="">
                <div class="card" >
                  <% if @event.avatar.attached? %>
                    <%= image_tag @event.avatar %>
                  <% end %>
                  <div class="card-body">
                    <h5 class="card-title"><%= @event.title%></h5>
                    <p class="card-text"><%= @event.description%></p>
                    <h5>Start on : <%= @event.start_date.strftime('%D')%></h5>
                    <h5>At : <%= @event.start_date.strftime('%T')%></h5>
                    <h5>Ends on : <%= @event.end_date.strftime('%D')%></h5>
                    <h5>At : <%= @event.start_date.strftime('%T')%></h5>
                    <h5>Price: <%= @event.price%></h5>
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-3">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row d-flex justify-content-center">
                <div class="e-table">
                  <div class="table-responsive table-lg mt-3">
                    <table class="table table-bordered">
                      <tbody>
                        <% @users.each do |user| %>
                          <tr onclick="window.location.href='<%=admin_user_path(user.id)%>'">
                            <td class="align-middle">
                              <p><%= user.id %></p>
                            </td>
                            <td class="align-middle text-center">
                              <% if user.avatar.attached? %>
                                <%= image_tag user.avatar, class:"avatar_user_show_events" %>
                              <% end %>
                            </td>
                            <td class="text-nowrap align-middle"><%= user.first_name %>&nbsp<%= user.last_name %></td>
                            <td class="text-nowrap align-middle"><span>09 Dec 2017</span></td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                  </div>
                  <!---
                  <div class="d-flex justify-content-center">
                    <ul class="pagination mt-3 mb-0">
                      <li class="disabled page-item"><a href="#" class="page-link">‹</a></li>
                      <li class="active page-item"><a href="#" class="page-link">1</a></li>
                      <li class="page-item"><a href="#" class="page-link">2</a></li>
                      <li class="page-item"><a href="#" class="page-link">3</a></li>
                      <li class="page-item"><a href="#" class="page-link">4</a></li>
                      <li class="page-item"><a href="#" class="page-link">5</a></li>
                      <li class="page-item"><a href="#" class="page-link">›</a></li>
                      <li class="page-item"><a href="#" class="page-link">»</a></li>
                    </ul>
                  </div>
                  -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>









