<section class="ftco-section-login">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-12 col-lg-10">
				<div class="wrap d-md-flex">
					<div class="bg-login  p-lg-5 text-center d-flex align-items-center order-md-last">
						<div class="text w-100">
							<h2 class="w-100 bienvenue-login text-white">Bienvenue </h2>
							<div>
								<%= link_to "S'inscrire", new_user_registration_path, :class => "btn login-btn-subscribe text-dark btn-outline-white"%>
							</div>
						</div>
				</div>
				<div class="login-wrap p-4 p-lg-5">
					<div class="d-flex">
						<div class="w-100">
							<h3 class="mb-4">Se connecter</h3>
						</div>
						<div class="w-100">
							<p class="social-media d-flex justify-content-end">
							</p>
						</div>
						
					</div>
					<%= form_for(resource, as: resource_name, url: session_path(resource_name), class:'signin-form') do |f| %>
						<div class="form-group mb-3">
							<label class="label" for="name">Adresse mail</label>
							<%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"%>
						</div>
						<div class="form-group mb-3">
							<label class="label" for="password">Mot de passe</label>
							<%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
						</div>
						<div class="form-group">
							<%= f.submit "Se connecter", class:"form-control btn btn-primary submit px-3" %>
						</div>
						<div class="form-group d-md-flex">
							<div class="w-50 text-left">

							</div>
							<div class="w-50 text-md-right">
								<%= render "devise/shared/links" %>
							</div>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</section>