<!DOCTYPE html>
<html>
  <head>
    <title>DogHero</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>


    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">



      <!-- Google Web Fonts -->
      <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Nunito:wght@600;700;800&display=swap" rel="stylesheet"> 

      <!-- Font Awesome -->
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">


      <!-- Libraries Stylesheet -->

      <!-- Customized Bootstrap Stylesheet -->
  </head>

  <body>
    <%= render 'home/header.html.erb'%>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>





    
    <%= yield %>
  </body>
</html>
