<!DOCTYPE html>
<html>
  <head>
    <title>DogHero</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag :application, integrity: true, 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>

  <body>
  <div class="pt-5"></div>
    <%= render 'home/header.html.erb'%>
    <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    <% end %>
    <%= yield %>
    <!-- Footer Start -->
    <div class="container-fluid bg-dog">
        <div class="dog">
            <div class="ears"></div>
            <div class="body">
                <div class="eyes"></div>
                <div class="beard">
                <div class="mouth">
                    <div class="tongue"></div>
                </div>
                </div>
                <div class="belt">
                <div class="locket"></div>
                <div class="dot dot1"></div>
                <div class="dot dot2"></div>
                <div class="dot dot3"></div>
                <div class="dot dot4"></div>
                <div class="tag"></div>
                </div>
                <div class="stomach">
                </div>
                <div class="legs">
                <div class="left"></div>
                <div class="right"></div>
                </div>
            </div>
            <div class="tail">
            </div>
        </div>
    </div>
    <div class="container-fluid text-white py-4 px-sm-3 px-md-5 " style="background: #111111;">
        <div class="row">
            <div class="col-md-12 text-center text-md-left mb-3 mb-md-0">
                <p class="m-0 text-white text-center ">
                    &copy; <a class="text-white font-weight-bold" href="#">DogHero</a>. All Rights Reserved. Designed by
                    <a class="text-white font-weight-bold " href="https://github.com/kleberkunha">Kleber da Cunha</a>
                </p>
            </div>
        </div>
    </div>
    <!-- Footer End -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
